<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">View all contacts/new</a></li>
  <li><a href="/contacts/:id">View all contacts/:id</a></li>
  <li><a href="/contacts/:id/edit">View all contacts/:id/edit</a></li>
</ul>

