<h1>Welcome to CRM Search</h1>

<h1>All Contacts</h1>

<form action = "/contacts" method = "get">
  <label for = "trait">trait</label>
  <select id = "trait" name="trait">

    <option value = "id">ID</option>
    <option value = "first_name">First Name</option>
    <option value = "last_name">Last Name</option>
    <option value = "note">Notes</option>

  </select>

<label for = "search_goal">Search For</label>
<input type = "text" name = "search_goal" id = "search goal"></input>

<input type = "submit" name = "submit">

<p><a href="/">Back to home</a></p>

</form>


