<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">New Contact</a></li>
  <li><a href="/contacts/search">Search for contacts</a></li>
  <li><a href="/contacts/edit">Edit a contact</a></li>
</ul>

