<h1>Create new Contact</h1>

<form action="contacts/new" method="post">
  <label for="first_name">first name</label>
  <input id="first_name" type="text" name="first_name">

  <label for="last_name">last name</label>
  <input id="last_name" type="text" name="last_name">

  <label for="email">email</label>
  <input id="email" type="text" name="email">

  <label for="note">note</label>
  <input id="note" type="text" name="note">

  <input type="submit" name="submit">
</form>

